.swiper {
  width: 100%;
  height: 100%;
  padding:24px 0px;
  position: static;
}

.swiper-slide {
  text-align: center;
  max-width: fit-content;
  height: 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.swiper-slide:first-child {
  margin-left: 32px;
}

.swiper-slide:last-child {
  margin-right: 32px;
}

.swiper-button-prev {
    color: white; 
    position: absolute;
    left: -32px;
    z-index: 1;
}

.swiper-button-next {
    color: white; 
    position: absolute;
    right: -32px;
}


.swiper-container::before{
  background: linear-gradient(#18202f, #1e2836);
  mask-image: linear-gradient(to right, black, transparent);
  content: ""; 
  height: 100%; 
  left: 0; 
  pointer-events: none; 
  position: absolute; 
  top: 0; 
  transition: opacity cubic-bezier(.4,0,.2,1) .15s; 
  width: 48px; 
  z-index: 10;
}

.swiper-container::after{
  background: linear-gradient(#18202f, #1e2836);
  mask-image: linear-gradient(to left, black, transparent);
  content: ""; 
  height: 100%; 
  right: 0; 
  pointer-events: none; 
  position: absolute; 
  top: 0; 
  transition: opacity cubic-bezier(.4,0,.2,1) .15s; 
  width: 48px; 
  z-index: 10;
}

@media (width <= 1024px) {
  .swiper-button-prev {
    display: none;
}

.swiper-button-next {
  display: none;
}
.swiper-container::before{
  display: none;
}
.swiper-container::after{
  display: none;
}
}
